*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Inter", sans-serif;
    width: 100vw;
}

:root{
    --white-clr: #fff;
    --black-clr: #000;
    --teal-clr: #00ebc7;
    --light-gray-clr: #ECECEc;
    --light-gray-2: #f8f8f8;
    --yellow-orange-clr: #FDE24F;
    --light-violet-clr: #CFBAFF;
}


/* ======== Nav section start ======== */

.nav{
    width: 90%;
    margin: 0 auto;
    padding: 15px 0;
    display: grid;
    grid-template-columns: 1fr 1.7fr 2fr;

    & .logo{
        justify-self: start;
        align-content: center;
        cursor: pointer;
    }

    & .nav-menu, ul{
        list-style: none;
        display: flex;
        gap: 1rem;
        font-size: 22px;
        font-weight: 500;
        justify-self: end;
        align-items: center;

        & li{
            cursor: pointer;
        }
    }

    .nav-buttons{
        justify-self: end;
        display: flex;
        align-items: center;
        gap: 0.7rem;

        & .login-btn, .get-start-btn{
            font-weight: 500;
            font-size: 22px;
            border: none;
            background-color: var(--light-gray-clr);
            border-radius: 30px;
            padding: 11px 28px;
            cursor: pointer;
        }

        .get-start-btn{
            background-color: var(--black-clr);
            color: var(--white-clr);
        }
        img{
            cursor: pointer;
        }
    } 
}
.border{
    border-bottom: 1px solid black;
}
/* ======== Nav section end ======== */


/* ======== Offer section start ======== */
.offer-bg{
    width: 100%;
    height: 760px;
    background-image: url(images/Rectangle\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    & .offer{
        max-width: 1160px;
        width: 80%;
        background-color: var(--white-clr);
        margin: 0 auto;
        position: relative;
        top: 193px;
        border-radius: 10px;
        border: 1px solid var(--black-clr);
        box-shadow: 0 0 30px rgba(from var(--black-clr) r g b /0.4);

        & .offer-title{
            font-size: 45px;
            font-weight: 500;
            text-align: center;
            padding: 40px 0;
        }

        .offer-items{
            display: grid;
            grid-template-columns: repeat(4, minmax(0,1fr));
            grid-template-rows: repeat(2, 45px);
            gap: 1rem;
            max-width: 940px;
            width: 80%;
            margin: 0 auto;
            padding: 25px 0 60px 0;

            & div:nth-child(5){
                grid-column: 1/4;
                grid-row: 2/3;
            }

            div:not(:nth-child(6)){
                background-color: var(--light-gray-clr);
                border-radius: 8px;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            input{
                font-size: 20px;
                font-weight: 500;
                outline: none;
                border: none;
                background-color: transparent;

                &::placeholder {
                    color: var(--black-clr);
                    font-weight: 500;
                    font-size: 20px;
                    text-align: center;
                }
                &::-webkit-inner-spin-button{
                    display: none;
                }
            }
            select{
                outline: none;
                border: none;
                background-color: transparent;
                font-size: 20px;
                font-weight: 500;
                cursor: pointer;
                width: 80%;
                padding: 0 10px;
                /* appearance: none; */
                
            }

            & button{
                font-size: 20px;
                font-weight: 600;
                border: none;
                background-color: var(--teal-clr);
                height: 100%;
                width: 100%;
                border-radius: 30px;
                cursor: pointer;
            }
        }
    }
    & .why-btn button{
        position: absolute;
        top: 630px;
        left: 50%;
        transform: translateX(-50%);
        background-color: transparent;
        outline: none;
        font-weight: 500;
        font-size: 20px;
        padding: 11px 28px;
        border-radius: 30px;
        color: var(--white-clr);
        border: 1.5px solid var(--white-clr);
        text-decoration: underline;
        text-underline-offset: 5px;
        text-decoration-thickness: 1.5px;
        cursor: pointer;
    }
}
/* ======== Offer section end ======== */


/* ======== Crypto-logos section start ======== */
.crypto-logos{
    width: 100%;
    height: 370px;
    background-color: var(--yellow-orange-clr);
    border-top: 1px solid var(--black-clr);
    border-bottom: 1px solid var(--black-clr);

    & div{
        max-width: 1220px;
        width: 90%;
        margin: 0 auto;
        padding: 80px 0;

        & p{
            text-align: center;
            font-size: 34px;
            font-weight: 500;

            & span{
                font-style: italic;
                font-weight: 400;
            }
        }
        & img{
            width: 100%;
            padding-top: 50px;
        }
    }
}
/* ======== Crypto-logos section End ======== */


/* ======== Features section Start ======== */
.features-sec{
    width: 100%;
    /* height: 680px; */

    & .features-sub-sec{
        width: 90%;
        max-width: 1340px;
        margin: 50px auto 40px auto;

        & h4{
            font-size: 34px;
            font-weight: 500;
        }

        .features{
            padding: 0 80px;
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: center;

            & .f-item{
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;

                & img{
                    width: 80px;
                    height: 80px;
                    margin-top: 60px;
                }

                h4{
                    font-size: 24px;
                    font-weight: 500;
                    padding: 20px 0; 
                }
                p{
                    font-size: 20px;
                    font-weight: 400;
                    color: var(--black-clr);
                    opacity: 0.7;
                    padding-bottom: 30px;
                }
                a{
                    font-size: 16px;
                    font-weight: 600;
                    color: var(--black-clr);
                    cursor: pointer;
                }
            }
            .hr-line{
                border-top: 1px solid var(--black-clr);
                width: 20%;
                margin: 20px 10px 0 10px;
            }
        }
    }
    .features-btn{
        outline: none;
        border: 1.5px solid var(--black-clr);
        padding: 11px 28px;
        border-radius: 30px;
        font-size: 20px;
        font-weight: 500;
        background-color: transparent;
        display: block;
        margin: 60px auto 0 auto;
        cursor: pointer;
    }
}
/* ======== Features section End ======== */

/* ======== Buy-sell section start ======== */
.buy-sell-sec{
    width: 100%;
    height: auto;
    background-color: var(--light-gray-2);
    border-top: 1px solid var(--black-clr);
    border-bottom: 1px solid var(--black-clr);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    & .buy-sell{
        max-width: 700px;
        width: 49%;
        padding: 40px;

        & h4{
            font-size: 34px;
            font-weight: 500;
            padding-bottom: 20px;
        }
        .buy-sell-item{
            background-color: var(--white-clr);
            padding: 20px;
            border: 1px solid var(--black-clr);
            border-radius: 15px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 30px;
            margin: 20px 0;

            & .buy-sell-details{
                width: 80%;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: center;

                p{
                    display: block;
                    font-size: 20px;
                    font-weight: 500;
                    padding: 5px 0;
                }
            }
        }
        .buy-sell-btn{
            display: block;
            margin: 30px auto 0;
            padding: 11px 28px;
            background-color: var(--black-clr);
            border: none;
            border-radius: 15px;
            color: var(--white-clr);
            font-size: 20px;
            font-weight: 500;
            cursor: pointer;
        }
    }
    .border-vr{
        border-left: 1px solid var(--black-clr);
    }
}
/* ======== Buy-sell section end ======== */


/* ======== Sign up section start ======== */
.sign-up{
    width: 100%;
    background-color: var(--light-violet-clr);
    padding: 70px 0 50px 0;

    & h1{
        width: 90%;
        max-width: 1200px;
        font-size: 75px;
        font-weight: 500;
        margin: 0 auto;
        text-align: center;
    }
    .sign-up-btn{
        display: block;
        margin: 0 auto;
        padding: 15px 45px;
        border: none;
        border-radius: 30px;
        background-color: var(--black-clr);
        color: var(--white-clr);
        font-size: 32px;
        font-weight: 500;
        margin-top: 70px;
        cursor: pointer;
    }
}
/* ======== Sign up section end ======== */


/* ======== Footer section start ======== */
.footer{
    width: 100%;
    background-color: var(--black-clr);
    color: var(--white-clr);
    padding-top: 60px;

    & .footer-links{
        display: flex;
        margin-left: 80px;
        margin-bottom: 30px;
        flex-wrap: wrap;
        gap: 100px;

        & h4{
            font-size: 28px;
            font-weight: 600;
            padding-bottom: 20px;
        }
        li{
            list-style: none;
            font-size: 20px;
            font-weight: 500;
            margin: 10px 0;
            cursor: pointer;
            opacity: 0.7;

            &:hover{
                opacity: 1;
            }
        }
    }
    .foot-border{
        width: 100%;
        border-top: 1px solid var(--white-clr);
    }
    .copyright{
        max-width: 1300px;
        width: 90%;
        margin: 0 auto;
        font-size: 12px;
        font-weight: 400;
        line-height: 15px;
        text-align: center;
        padding: 30px 0;
    }
}
/* ======== Footer section end ======== */






/* ====== Laptop view ====== */

@media (max-width: 1030px) {
    .buy-sell-sec .buy-sell .buy-sell-item .buy-sell-details{
        width: 100% ;
    }
    .sign-up h1{
        font-size: 60px;
    }
}


/* ====== Tablet view ====== */

@media (max-width: 770px) {
    .nav{
        grid-template-rows: 1fr;

        .nav-menu{
            grid-row: 2/3;
            grid-column: 1/4;
        }
    
        & .nav-menu, ul{
            justify-self: center;
            margin-top: 7px;
        }
    
        .nav-buttons{
            grid-column: 2/4;
        } 
    }


    .offer-bg{

        & .offer{
            top: 130px;
    
            .offer-items{
                grid-template-columns: repeat(2, minmax(0,1fr));
                grid-template-rows: repeat(4, 45px);
                padding: 0px 0 60px 0;
                
                div:nth-child(1){
                    grid-column: 1/2;
                    grid-row: 1/2;
                }

                & div:nth-child(5){
                    grid-column: 1/3;
                    grid-row: 3/4;
                }
                div:nth-child(6){
                    grid-column: 1/3;
                    grid-row: 4/5;
                }
            }    
        }
    }


    .features-sec{
    
        & .features-sub-sec{
    
            .features{
                flex-wrap: wrap;
    
                .hr-line{
                    display: none;
                }
            }
        }
    }


    .buy-sell-sec{
        flex-direction: column;
        align-items: center;

        & .buy-sell{
            max-width: 100%;
            width: 90%;
        }
    }

    .sign-up h1{
        font-size: 40px;
    }

    .footer{
        & .footer-links{
            margin-left: 60px;
        }
    }
}


/* ====== Mobile view ====== */

@media (max-width: 430px) {
    .nav{
        .logo > img{
            width: 150px;
        }
        .nav-menu > ul{
            font-size: 18px;
        }
        .nav-buttons .login-btn, .get-start-btn{
            display: none;
        }
    }

    .offer-bg .offer{
        .offer-title{
            font-size: 30px;
            padding: 25px 0;
        }
        .offer-items{
            grid-template-columns: repeat(1, minmax(0,1fr));
            grid-template-rows: repeat(6, 45px);
            padding: 0px 0 40px 0;
            
            div:nth-child(1){
                grid-column: 1/2;
                grid-row: 1/2;
            }

            & div:nth-child(5){
                grid-column: 1/2;
                grid-row: 5/6;
            }
            div:nth-child(6){
                grid-column: 1/2;
                grid-row: 6/7;
            }
        }  
    }
    .offer-bg .why-btn button{
        top: 670px;
    }


    .crypto-logos{
        height: auto;
  
        & div{
            padding: 40px 0;
    
            & p{
                font-size: 20px;
            }
            & img{
                padding-top: 30px;
            }
        }
    }


    .features-sec{
        & .features-sub-sec{
            & h4{
                font-size: 22px;
                text-align: center;
            }
            & .features{
                padding: 0 40px;
            }
        }
    }

    .sign-up h1{
        font-size: 22px;
        margin: 0 auto;
    }
    .sign-up .sign-up-btn{
        font-size: 24px;
        margin-top: 40px;
        padding: 10px 35px;
    }

    .footer{
        & .footer-links{
            margin-left: 40px;
            gap: 30px;

            & h4{
                font-size: 22px;
                padding-bottom: 10px;
            }
            li{
                font-size: 10px;
                margin: 5px 0;
            }
        }
        .copyright{
            width: 80%;
        }
    }
}